.git
.gitignore
vendor
node_modules
tests
bootstrap/cache/*.php
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
database/database.sqlite
.env
.env.*
!.env.example
*.md
.phpunit.result.cache
.fleet
.idea
.vscode
